Repository bitkunst/Project_THE_LIAR, pull requests merged in 2022-05, with the labels that each got.

#5 [frt/setting] initial link setting is done for socket test
  back/database/.DS_Store
  front/.eslintrc.json
  front/.gitignore
  front/package.json
  front/src/App.tsx
  front/src/Components/Button.tsx
  front/src/Components/MainNav.tsx
  front/src/Components/PlayChat/MsgForm.tsx
  front/src/Components/PlayChat/MyMsg.tsx
  front/src/Components/PlayChat/msg.css
  front/src/Components/Responsive.tsx
  front/src/Pages/Play/Friends.tsx
  front/src/Pages/Play/Random.tsx
  front/src/Pages/Play/index.tsx
  front/src/Pages/User/Profile.tsx
  front/src/Pages/User/index.tsx
  front/src/Pages/index.tsx
  front/src/index.css
  front/src/index.tsx
  front/src/reportWebVitals.ts
  front/src/types/index.ts
Labels: front-end

#6 fix: user models
  back/database/models/user.js
  front/.eslintrc.json
  front/.gitignore
Labels: front-end, back-end

#7 error: exlint
  front/.eslintrc.js
  front/.eslintrc.json
  front/.gitignore
  front/package.json
  front/src/index.tsx
  front/src/reportWebVitals.ts
Labels: bug

#8 setting declaration file
  front/.eslintrc.js
  front/package.json
  front/src/Pages/Play/Random.tsx
  front/src/middlewares/userSaga.ts
  front/src/types/@chatscope/chat-ui-kit-react/index.d.ts
  front/src/types/@chatscope/chat-ui-kit-styles/dist/default/styles.min.css/index.d.ts
  front/src/types/index.ts
  front/tsconfig.json
Labels: front-end

#9 feat: local login
  back/package.json
  back/passport/index.js
  back/passport/jwtStrategy.js
  back/passport/localStrategy.js
  back/routes/passport/localStrategy.js
  back/routes/user/index.js
  back/routes/user/userController.js
  back/server.js
  back/utils/jwt.js
  front/package.json
  front/src/App.tsx
  front/src/Pages/User/Login.tsx
  front/src/Pages/User/index.tsx
  front/src/middlewares/userSaga.ts
  front/src/reducers/user.ts
  front/src/types/index.ts
Labels: back-end

#11 [front/axios] wip: fix errors
  back/server.js
  front/.eslintrc.js
  front/src/middlewares/userSaga.ts
  front/src/types/index.ts
Labels: front-end

#12 [front/axios] wip: allocate types
  front/.eslintrc.js
  front/src/middlewares/userSaga.ts
Labels: front-end

#16 [Frt/profile] added some details for responsive view / added 1 column on user
  back/database/models/user.js
  front/src/Components/Title.tsx
  front/src/Pages/User/Profile.tsx
  front/src/Pages/User/profile.css
Labels: front-end

#18 [local,kakao] login
  back/database/models/user.js
  back/passport/index.js
  back/passport/kakaoStrategy.js
  back/routes/index.js
  back/routes/kakao/authController.js
  back/routes/user/userController.js
  back/server.js
  front/src/App.tsx
  front/src/Pages/User/Join.tsx
  front/src/Pages/User/Login.tsx
  front/src/middlewares/userSaga.ts
  front/src/reducers/user.ts
  front/src/types/index.ts
Labels: front-end, back-end

#19 [back/socket] wip: handling events
  back/socket_random.js
  back/utils/findRandomGame.js
  back/utils/gatherUsers.js
  front/src/Pages/Play/Loading.tsx
  front/src/Pages/Play/index.tsx
  front/src/middlewares/index.ts
  front/src/middlewares/randomGameSaga.ts
  front/src/reducers/randomGame.ts
  front/src/types/gameTypes.ts
Labels: back-end
